<html  xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="/inc/header :: headerFragment"></th:block>

<div class="container shadow-sm w-50 p-5 rounded mt-4">
    <div class="mt-4">
      <h3 th:text="${post.title}"></h3>
    </div>
    <br>
    <div>
        <p th:text="${post.content}"></p>
    </div>
    <div>
        포스트 번호 : <span id="id"><i th:text="${post.id}"></i></span>
        작성자 :<span><i th:text="${post.user.username}"></i></span>
    </div>

    <button onclick="history.back()" class="btn btn-secondary">돌아가기</button>

</div>
<script src="/js/post.js"></script>
<!-- 푸터 -->
<th:block th:replace="/inc/footer :: footerFragment"></th:block>
</body>
</html>